:root{
    --color-principal : #2563eb;
    --color-principal-oscuro: #1d4ed8;
    --color-texto: #172033;
    --color-texto-secundario: #64748b;
    --color-fondo: #f8fafc;
    --color-blanco: #fff;
    --color-borde: #e2e8f0;
    --radio: 12px;   

    --color-texto-a: red;
    --color-texto-b: purple;
    --color-texto-c: orange;
    --color-texto-plomo: gray;
    --color-steam: #171a21;
    --color-steam-2: #2a475e;
    --color-steam-3: #1b2838;
    --color-steam-4: #2a475e;

    --color-azul-oceano: #006994;
    --color-azul-zafiro: #0f52ba;
    --color-azul-cielo: #87ceeb;

    --color-azul-d: #060531;

    
}


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-texto);
    background-color: black;
    line-height: 1.5;
}

h1,h2,h3{
    line-height: 1.2;
}

/*modifica y mueve las letrar Inicio -sobre mi etc*/
.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;

}


/*configuracion del logo*/
.logo{
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
}

/*configura las letras*/
.logo h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1px 10%;
    font-weight: bold;
}



.nav{
    display: flex;
    gap: 20px; /*distancia entre las palabras*/
}

/*aqui va la modificacion para las letras inicio-sobre mi-habilidades-proyectos- contacto
es nav a por que esas letras estan el ejemplo <a href="#inicio">Inicio</a>
*/
.nav a{
    
    display: inline-block;
    color: white; /* Letras blancas */
    padding: 10px 15px; /* Espaciado interno (arriba/abajo izquierdo/derecho) */
    border-radius: 10px; /* Bordes redondeados suaves */
    font-family: Arial, Helvetica, sans-serif; /* Tipografía limpia */
    font-weight: bold; /* Letras en negrita */
    text-decoration: none; /* Quita la línea de subrayado típica de los enlaces */
    font-size: 16px; /*tamaño de las letras*/
    transition: background-color 0.3s ease;
    border: 2px solid var(--color-steam); 

}
 

/*cambia el color al pasar por las letrar Inicio - sobre mi etc*/
.nav a:hover{
    background-color: rgb(18, 17, 17); /*pasa por las letras  */
    transform: translateY(-3px);
    box-shadow: 0 5px 8px rgba(18, 17, 17, 0.416);
    
}




/*AQUI VA LAS MODIFICACIONES VISUALES PARA EL INICIO */
.inicio{
    padding: 100px 8%;
}

.inicio h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
}
.inicio h2{
    max-width: 650px;
    color: white;
    font-size: 1rem;

}

.inicio p {
    max-width: 650px;
    color: var(--color-borde);
    font-size: 1rem;
    

}


/* AQUI VA LAS MODIFICACIONES EL LA PARTE SOBRE MI*/

/* Estilos para la sección Sobre Mí */
.sobre-mi {
    padding: 100px 8%;
    display: flex;
}

/* Contenedor principal */
.contenedor-sobre-mi {
    max-width: 500px;       /* Ancho óptimo de Vercel para lectura cómoda */
    line-height: 1.6;       /* Espaciado perfecto entre las líneas que caen abajo */
    cursor: pointer;
}

/* Título principal en reposo */
.titulo-sobre-mi {
    display: inline;        /* Se alinea en la misma línea que el texto */
    color: white;         /* El color del texto Sobre mi  */
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    margin: 0;
    padding-right: 6px;
    transition: color 0.4s ease;
}


/* Texto de descripción en reposo */
.texto-descripcion {
    display: inline;        /* Se pega al título y envuelve hacia abajo de forma fluida */
    color: white;         /* Un gris más oscuro para el texto secundario  #71717a*/
    font-size: 1.2rem;      /* Mismo tamaño para simular un párrafo continuo */
    font-weight: 20;
    transition: color 0.4s ease;

        
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease, visibility 0.9s ease; /*los segundos que demora en mostrarse la informacion*/
}

/* ==========================================================================
   EL EFECTO VERCEL: Al pasar el mouse por el contenedor, todo se "enciende"
   ========================================================================== */

/* El título pasa a blanco brillante */
.contenedor-sobre-mi:hover .titulo-sobre-mi {
    color: white; /*cambia el color al pasar el cursor por la palabra Sobre Mi*/
}

/* El texto de Duoc UC pasa a un gris claro/blanco nítido */
.contenedor-sobre-mi:hover .texto-descripcion {
    opacity: 1;
    visibility: visible;/*muestra el texto al pasar el cursor por la palabra Sobre mi*/
}


/*AQUI VA LAS MODIFICACIONES VISUALES PARA HABILIDADES */

.habilidades{/*aqui de ajusta para dejar el titulo y informacion centrada*/
    display: flex;
    justify-content: end;/*PARTE IMPORTANTE lleva todo a la derecha*/
    padding: 10px;/*10px separacion con los section */
    padding: 1%;/*ajusta el espacio del texto*/
    

}
.contenedor-habilidades{
    width: 65%;
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.habilidades h1{
    font-size: 30px;
    color: white;
    
}

.habilidades p{
    color: var(--color-blanco);
    font-size: 1rem;
}


@media (max-width: 768px) {

    .contenedor-habilidades {
        width: 100%;
        flex-direction: column;
    }

    .titulo-habilidades,
    .texto-habilidades {
        width: 100%;
    }
}


/*AQUI VA LAS MODIFICACIONES VISUALES PARA EL PROYECTOS */
.proyectos{
    padding: 80px 8%;
}

.titulo-seccion{/*separacion con el titulo PROYECTOS*/
    margin-bottom: 40px;
}


.subtitulo{
    color: var(--color-borde);
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;}
    

    .titulo-seccion{
        margin-top: 8px;
        font-size: 1.2rem;
    }

    .contenedor-cards{
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
    }

    .card{
        flex: 1;
        min-height: 500px;/*profundidad del cuadro*/
        padding: 30px; /*distancia entre el cuadro con el texto*/
        border-radius: var(--radio);
        border: 2px solid var(--color-steam); /*agrega color por los bordes de las cartas*/      
        box-shadow: 0 4px 14px rgba(26, 28, 26, 0.7);
        transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
    }
    .card:hover{
        transform: translateY(-5px);
        box-shadow: 0 10px 25px rgba(236, 238, 236, 0.981); /*controla el color de fondo de las cartas*/
          
    }
    .card p{
        color: var(--color-fondo);
    }
    .card h3{
        color: white;
    }
    .card-numero{
        color: grey;
    }

    .imagen-hospital{
        width: 100%;/*la imagen ocupa todo el ancho disponible de la card*/
        height: 200px;/*la imagen tendra 200 pixeles de alto*/
    }
    .imagen-machine{
        width: 100%;
        height: 200px;
    }
    .imagen-deep-learning{
        width: 100%;
        height: 200px;
    }


  




/*AQUI VA LAS MODIFICACIONES VISUALES PARA EL CONTACTO */

.contacto{
    padding: 50px 1%; /*1% es la distancia entre el borde de la pagina con el texto*/
    text-align: center;
}
.contacto h1{
    color: white;
}

.contacto{
    color: var(--color-blanco);
}



/*idea para crear un formulario 
al final en  contacto ingresar el formulario 
con nombre correo y contraseña y un mensaje 
y val
idar con JavaScript
*/

.formulario{
    min-height: 500px;/*profundidad del cuadro*/
    padding: 30px; /*distancia entre el cuadro con el texto*/
    border-radius: var(--radio);     
    box-shadow: 0 4px 14px rgba(26, 28, 26, 0.7);
    transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
}

.campo{
    margin-bottom: 18px;
    text-align: center;
}

label{
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}


/*configuracion de las letras dentro de la caja */
input,
textarea{
    width: 26%;/*tamaño horizontal de la caja */
    padding: 11px;
    border: 1px solid white;/*borde de la caja*/
    border-radius: 8px;
    font: inherit;
    outline: none;

}

input:focus
textarea:focus{
    border-color: white;
}
textarea{
    min-height: 70px;
    resize: vertical;
}



.invalido {
    border-color: #dc2626;
    background: white;
}

.error{
    display: block;
    min-height: 18px;
    margin-top: 5px;
    color: red;
    font-size: 0.82rem;
}

button{
    width: 27%;
    padding: 12px;
    border: 0;
    border-radius: 8px;
    color: white;
    background: blue;
    font: inherit; /*amplia el formato*/
    font-weight: bold; /*aumenta el tamaño del texto*/
    cursor: pointer;

}

button:hover{
    background: grey;/*cambia a gris al pasar el cursor*/
}

.resultado{
    display: none;
    margin-top: 18px;
    padding: 12px;
    border-radius: 8px;
}

.resultado.visible{
    display: block;
}



/*AGREGAR LA FUNCION PARA QUE SE PUEDE VISUALIZAR EN CELULARES Y TABLETS*/
/*guia para ver las funciones para recording 07*/